/* Center the container */
.profile {
  flex-direction: column;
}

/* Style the heading */
.profile h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: green;
  margin-bottom: 50px;
}

.profileCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 400px;
}

.profileRight {
  flex-direction: column;
  width: 50%;
  margin-bottom: 24px;
}