.nav{
    width: 100%;
    height: 5rem;
    background-color: lightgray;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    font-family: "Josefin Sans", sans-serif;
}

.navleft{
    flex: 3;
    margin-left: 60px;
    font-size: 22px;
    font-weight: bold;
    align-items: center;
    display: flex;
    cursor: pointer;
    margin-top: 5px;
}

.navcenter{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.navList{
    list-style: none;
    display: flex;
}

.navListItem{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 20px;
    cursor: pointer;
}

.Link{
    text-decoration: none;
    color: black;
}

.navright{
    flex: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 50px;
}

.navLinks{
    color: black;
    margin-right: 10px;
    cursor: pointer;
    align-items: center;
    display: flex;
}

.navLinks:hover{
    color: green;
}

.navImg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}

.navSearch{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.navsearchIcon{
    font-size: 15px;
    color: #666;
    cursor: pointer;
}
