.createpost{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-top: 50px;
}

.createImg{
    width: 70vw;
    height: 240px;
    object-fit: cover;
    border-radius: 7px;
    margin-left: 150px;
}

.createForm{
    position: relative;
}

.createFormGroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.createFormIcon{
    width: 25px;
    height: 25px;
    font-size: 20px;
    color: rgb(121, 119, 119);
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.createInput{
    border: none;
    font-size: 28px;
    padding: 20px;
    width: 70vw;
}

.createInput:focus{
    outline: none;
}

.createText{
    font-size: 20px;
    height: 100vh;
}

.createSubmit{
    right: 50px;
    top: 20px;
    width: 100px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: darkgreen;
    color: white;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
}

