.createpost{
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: solid;
    height: 200vh;
    width: 120vw;
    background-color: rgb(240, 240, 240);
    font-family: "Josefin Sans", sans-serif;
    padding: 20px;
}

.createHeader{
    font-size: 50px;
    font-weight: 900;
    margin-left: 260px;
    margin-bottom: 50px;
    align-items: center;
    display: solid;
    margin-top: 50px;
}

.createForm{
    position: relative;
    display: solid;
    height: 100vh;
    width: 100vw;
}

.createFormTitle{
    font-size: 30px;
    margin-left: 240px;
    margin-bottom: 20px;
    font-weight: 600;
}

.createInput{
    font-size: 28px;
    padding: 10px;
    width: 65vw;
    border: none;
    margin-right: 250px;
    margin-left: 20px;
    outline: none;

}

.createFormGroup{
    margin-left: 260px;
    display: flex;
    flex-direction: column;
    margin-right: 250px;
}

.createSubmit{
    width: 110px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: green;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin: 0 0 10px 260px;
}

