.setting{
    display: flex;
}

.settingWrapper{
    flex: 9;
    padding: 40px;
}

.settingTitle{
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.settingUpdateAccount{
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(3, 101, 50);
    cursor: pointer;
}

.settingDeleteAccount{
    font-size: 22px;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.settingDeleteAccount:hover{
    color: lightcoral;

}

.settingForm{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.settingPP{
    display: flex;
    align-items: center;
    margin: 12px 0px;
}

.settingPP > img{
    width: 65px;
    height: 65px;
    border-radius: 20px;
    object-fit: cover;
}

.settingPPIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 10px;
    color: white;
    background-color: rgb(1, 164, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.settingForm > label{
    border: none;
    font-size: 18px;
    margin-top: 20px;
}

.settingForm > input{
    border: none;
    color: gray;
    border-bottom: 1px solid gray;
    margin: 10px 0;
    font-size: 15px;
    height: 28px;
}

.settingUpdate{
    width: 140px;
    border: none;
    padding: 10px;
    align-self: center;
    border-radius: 10px;
    background-color: rgb(1, 77, 26);
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.settingUpdate:hover{
    background-color: lightgreen;
    color: black;
}


