.post{
    width: 380px;
    margin: 5px 20px 40px 100px;
}

.postImg{
    width: 90%;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
}

.postInfor{
    display: flex;
    flex-direction: column;
}

.postCateg{
    font-family: "Lora", serif;
    font-size: 12px;
    font-weight: bold;
    color: green;
    line-height: 20px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.postTitle{
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;
}

.postDate{
    font-family: "Lora", serif;
    font-style: italic;
    font-size: 13px;
    color: #999;
    margin: 10px 200px 10px 0;
}

.postView{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.postView i{
    font-size: 14px;
    color: #999;
    margin-right: 10px;
}

.Icon{
    font-size: 14px;
    color: #999;
    margin-right: 60px;
    cursor: pointer;
}
.postIcon:hover{
    color: green;
}

.postDescri{
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    color: #444;
    margin-top: 15px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}


